.speech-header {
    font-size: 2em;
}

.speech-blurb {
    font-size: 1.3em;
    font-style: italic;
    margin-bottom: 1em;
}

#speech-select {
    width: 100%;
}

#player {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%
}

.button {
    cursor: pointer;
    margin-left: 20px;
    line-height: 80px;
    height: 80px;
    width: 80px;
    opacity: .4;
    transition: opacity .4s;
}

.button:hover {
    opacity: 1;
}

.button-play {
    font-size: 80px;
}

.button-play::after {
    content: "\25B6 \FE0E";
}

.button-pause {
    font-size: 40px;
    margin-left: 6px;
}

#projevy-footer {
    font-size: small;
    color: #999;
}

.sidebar {
    float: right;
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.speech-img {
    border-radius: 50%;
    width: 200px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .speech-blurb {
        font-size: 1.1em;
    }

    .sidebar {
        width: 100px;
        margin-left: 10px;
        padding-bottom: 50px;
    }

    .speech-img {
        width: 120px;
    }

    .button {
        line-height: 60px;
        height: 60px;
        width: 60px;
    }
    
    .button-play {
        font-size: 60px;
    }
    
    .button-pause {
        font-size: 30px;
    }
}
